meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

meta(name='description', content='Bootstrap Admin App + jQuery')
meta(name='keywords', content='app, responsive, jquery, bootstrap, dashboard, admin')

title Angle - Bootstrap Admin Template

// =============== VENDOR STYLES ===============

// FONT AWESOME
link(rel='stylesheet', href='../vendor/fontawesome/css/font-awesome.min.css')
// SIMPLE LINE ICONS
link(rel='stylesheet', href='../vendor/simple-line-icons/css/simple-line-icons.css')
// ANIMATE.CSS
link(rel='stylesheet', href='../vendor/animate.css/animate.min.css')
// WHIRL (spinners)
link(rel='stylesheet', href='../vendor/whirl/dist/whirl.css')

// =============== PAGE VENDOR STYLES ===============
block vendor_css
  //- This block will include specific vendor assets

// =============== BOOTSTRAP STYLES ===============

link(rel='stylesheet', href='css/bootstrap.css', id="bscss")

// =============== APP STYLES ===============

link(rel='stylesheet', href='css/app.css', id="maincss")
