// =============== VENDOR SCRIPTS ===============

// MODERNIZR
script(src='../vendor/modernizr/modernizr.custom.js')
// JQUERY
script(src='../vendor/jquery/dist/jquery.js')
// BOOTSTRAP
script(src='../vendor/bootstrap/dist/js/bootstrap.js')
// STORAGE API
script(src='../vendor/jQuery-Storage-API/jquery.storageapi.js')
// JQUERY EASING
script(src='../vendor/jquery.easing/js/jquery.easing.js')
// ANIMO
script(src='../vendor/animo.js/animo.js')
// LOCALIZE
script(src='../vendor/jquery-localize-i18n/dist/jquery.localize.js')

// =============== PAGE VENDOR SCRIPTS ===============
block vendor_js
  //- This block will include specific vendor assets

// =============== APP SCRIPTS ===============
script(src='js/app.js')