extends ../_layout

block active
  - sidebar_active = 'singleview.html'

block content
  .content-heading
    // START Language list
    .pull-right
      .btn-group
        button.btn.btn-default(type='button', data-toggle="dropdown") English
        ul.dropdown-menu.dropdown-menu-right.animated.fadeInUpShort(role='menu')
          li
            a(href='#', data-set-lang="en") English
          li
            a(href='#', data-set-lang="es") Spanish
    // END Language list    

    | Single View
    small(data-localize="dashboard.WELCOME") 

  .row
    .col-xs-12.text-center
      h2.text-thin Single view content
      p This project is an application skeleton. You can use it to quickly bootstrap your jQuery webapp projects and dev environment for these projects. 
        br 
        | The seed app doesn't do much and has most of the feature removed so you can add theme as per your needs just following the demo app examples.
